/*
 * CSS files contain rules which the browser should follow to display elements in a HTML document
 * A CSS rule starts with a selector which targets one or many elements
 * Then we define the values for properties we care about on the targeted elements
 */
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ececec;
}

#container {
    display: none;
    margin: 0px auto 0px;
    width: 724px;
    border: 5px black solid;
}

form {
    width: 350px;
    margin: 200px auto 0px;
    padding: 15px;
}

form legend {
    font-weight: bold;
    font-style: italic;
    color: #700;
}

fieldset {
    border-radius: 15px 40px / 15px 40px;
}

.formField {
    padding: 10px;
}

.formField label {
    display: inline-block;
    min-width: 90px;
}

.formField input[type='text'],
.formField input[type='password']{
    border-radius: 15px;
    height: 25px;
}

input[type='submit'] {
    margin-top: 9px;
    padding: 5px;
    background-color: #99e;
    color: black;
    font-family: consolas;
    font-size: 14pt;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}
